# ============================
# Python / Virtual Environment
# ============================
poseidon-env/
.venv/
__pycache__/
*.pyc
*.pyo

# ============================
# MLflow (local experiments)
# ============================
mlruns/
mlartifacts/
mlflow.db

# ============================
# Data (raw & processed)
# ============================
data/
*.nc
*.csv
*.png

# ============================
# OS / Editor junk
# ============================
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store

# ============================
# Logs & temp files
# ============================
*.log
*.tmp
