# ============================
# Python / Virtual Environment
# ============================
poseidon-env/
.venv/
__pycache__/
*.pyc

# ============================
# DVC: ignore data, allow metadata
# ============================

# Ignore all data
data/**

# Re-allow directory traversal
!data/
!data/**/

# Allow DVC metadata files
!data/**/*.dvc

# Ignore all model files
models/**

# Re-allow directory traversal
!models/
!models/**/

# Allow DVC metadata files
!models/**/*.dvc

# ============================
# Airflow
# ============================
airflow/
*.db
*.db-journal
*.log

# ============================
# Editor / OS junk
# ============================
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
